# Dependencies
/vendor/

# PHPUnit / Pest
/.phpunit.cache/
junit.xml
junit-*.xml

# Coverage
coverage.cobertura.xml
coverage.xml
coverage-*.cov
coverage-*.php
/build/
/coverage-html/

# Build
/fakeroot.so
.dhcpcarp_peer

# Tools
.php-cs-fixer.cache
.php_cs.cache
.phpstan.cache/
